@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  height: 100vh;
  font-family: "sora", sans-serif;

  --white: #ffffff;
  --dark-white: #efefef;
  --dark-grey: #a9a9a9;
}

#global-container {
  display: grid;
  grid-template-rows: 12rem 1fr;
}

#title-container {
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.5rem, 4vw, 4rem);
}

.component-container {
  width: 100%;
  max-width: 20rem;

  border-radius: 2rem;
}

#content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;

  grid-row: 2/3;
  align-items: center;
  background-color: var(--dark-white);
  border-radius: 2rem;
  margin-inline: clamp(1rem, 4vw, 4rem);
  margin-bottom: 2rem;

  padding: 2rem;
}

#dropdown-menu-container {

}

#dropdown-menu {
  border-radius: 2rem;
  background-color: var(--white);
  padding: 1rem;
  height: 3rem;

  transition: all 0.2s ease-in-out;
}

#dropdown-content {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

#dropdown-content > div {
  cursor: pointer;

  background-color: var(--dark-white);
  border-radius: 0.8rem;
}

.dropdown-option {
  transition: all 0.2s ease-in-out;
}

#dropdown-toggle {
  display: flex;
  padding: 0.8rem;
  align-items: center;
  justify-content: space-between;
}

#dropdown-toggle > span {
  background-color: var(--white);
  border-radius: 0.5rem;
}

#image-carousel-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  max-width: 40rem;

  border-radius: 2rem;
}

#image-carousel {
  aspect-ratio: 16/9;
  border-radius: 2rem;
  background-color: var(--white);
  padding: 1rem;
  width: 100%;

}
#carousel-content {
  display: flex;
  position: relative;
  height: 100%;
}

.carousel-option {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  background-color: var(--dark-grey);
  height: 2rem;
  width: 2rem;
  border-radius: 0.2rem;
}

#carousel-options {
  position: absolute;
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

#carousel-option-left {
}

.option-hidden {
  opacity: 0;
  height: 0rem;
  padding: 0rem;
  padding-inline: 0.8rem;
}

.option-visible {
  opacity: 1;
  padding: 0.8rem;
}
