@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    height: 100vh;
    font-family:  'sora', sans-serif;

    --white: #ffffff;
    --dark-white: #efefef;
}

#global-container{
    height: 100%;
    display: grid;
    grid-template-rows: 12rem 1fr ;
}

#title-container{
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.5rem, 4vw, 4rem);
}

#content-container{
    display: flex;
    flex-direction: column;

    grid-row: 2/3;
    align-items: center;
    background-color: var(--dark-white);
    border-radius: 2rem;
    margin-inline: clamp(1rem, 4vw, 4rem);
    margin-bottom: 2rem;

    padding: 2rem;
}

#dropdown-menu-container{
    width: 100%;
   
    max-width: 16rem;
    background-color: var(--white);
    border-radius: 2rem;
}

#dropdown-menu{
    padding: 2rem;
    }
